body {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* silly method, bad code -- because of the image from hero section */
  overflow-x: hidden;
}
main {
  flex: 1 1 0%;
}
