/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 50vh;

  background-color: var(--shadow);
  color: var(--white);
}

.hero h1 {
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  top: 3%;
  left: 10px;

  /* temp */
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.orange {
  display: inline-block;
  color: var(--orange);
}

.hero__small {
  display: block;
  height: fit-content;

  /* temp */
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.hero img {
  position: absolute;
  z-index: 1;
  width: 400px;
  transform: rotate(-25deg);
  right: 10px;
  bottom: 10%;

  filter: contrast(0.7);
}

@media (min-width: 640px) {
  .hero {
    height: 60vh;
  }
  .hero h1 {
    top: 4%;
    left: 10%;

    /* temp */
    font-size: 6rem; /* 96px */
    line-height: 1;
  }
  .hero img {
    right: 8%;
    bottom: 10%;
    width: 500px;
    transform: rotate(-20deg);
  }
}

@media (min-width: 1024px) {
  .hero h1 {
    top: 5%;
    left: 20%;

    /* temp */
    font-size: 8rem; /* 128px */
    line-height: 1;
  }
  .hero__small {
    /* temp */
    font-size: 4.5rem; /* 72px */
    line-height: 1;
  }
  .hero img {
    right: 20%;
    bottom: 10%;
    width: 600px;
    transform: rotate(-15deg);
  }
}

/* ABOUT SECTION */
.about {
  background-color: var(--dirty_white);
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  justify-content: center;
}

.about div {
  border: 1px solid var(--orange);
  border-radius: 0.625rem;
  background: var(--orange);

  width: 100%;
  max-width: 1110px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 58.938rem;
}

.about div .about__left {
  height: 50%;
  padding: 1rem;
}

.about div .about__left button {
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

.about div .about__left h2 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  /* temp */
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0.025em;
}

.about div .about__left p {
  margin-bottom: 0.5rem;

  /* temp */
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
  letter-spacing: -0.05em;
}

.about div .about__right {
  height: 50%;
  background-image: url("../../public/images/bg-about.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-width: 0px;
}

.about div button {
  border: black 1px solid;
  background: black;
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;

  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.about div button:hover {
  opacity: 0.9;
  border-color: white;
}

@media (min-width: 640px) {
  .about div {
    flex-direction: row;

    height: 34.688rem;
  }
  .about div .about__left {
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;

    height: 100%;
  }
  .about div .about__right {
    width: 50%;
    height: 100%;
  }

  .about div .about__left h2 {
    /* temp */
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }

  .about div .about__left p {
    /* temp */
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
}

/*  */
/* MENU SECTION */

.menu {
  background-color: var(--dirty_white);
  padding: 0px 1rem;
  padding-bottom: 1.9rem;
  height: 40rem;

  display: flex;
  justify-content: center;

  color: white;
}

.menu__selection {
  width: 100%;
  height: auto;
  max-width: 1110px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--shadow);

  border: 4px var(--orange) groove;
  border-radius: 0.625rem;

  text-align: center;
}

.menu__selection h2 {
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 2rem;

  /* temp */
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.menu__selection-item {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr fit-content(40%);
  width: 70%;

  margin-bottom: 1rem;

  /* temp */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.menu__selection-item h3 {
  width: fit-content;
  white-space: nowrap;
}

.menu__selection-item p {
  width: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.underline {
  width: 100%;
  border-bottom-color: var(--orange);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

@media (min-width: 640px) {
  .menu__selection h2 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
  .menu__selection-item {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
}
